/* Background image */

#bg-wrapper {
	position: fixed;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	z-index: -1;
	overflow: hidden;
}

#bg-overlay {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 40%);
}

header{
	font-family: "Source Sans Pro";
}


/* Scrollbar*/
::-webkit-scrollbar{
	height:6px;
}

::-webkit-scrollbar-track{
	width:auto;
	background:rgb(0,0,0,0%);	
}

::-webkit-scrollbar-thumb{
	background:rgb(200,200,200,100%);
	border-radius: 10px;
}

/* Body layout */

main {
	display: flex;
	flex-direction: column;
}

#today-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 40%;
	min-height: 210px;
	max-height: 400px;
}

#today-container .card {
	width: clamp(300px, 45%, 45%);
	height: min(80%, 180px);

	background: rgba(255, 255, 255, 40%);
	backdrop-filter: blur(8px);
}

.week-container{
	display:flex;
}

.week-container .card{
	background: rgba(245, 245, 255, 25%);
	backdrop-filter: blur(10px);
}

.week-container-narrow {
	width: clamp(300px, 45%, 45%);
	height:clamp(310px, 63vh, 63vh);
	justify-content: left; /* needs work: too wide on desktop. if using center, then not all content appears on mobile*/
	overflow-x:scroll;
}



.week-container-wide{
	flex-direction:column;
	width:clamp(300px, 45%, 45%);
	height:fit-content;
	align-content: center;
}

.week-container-wide .card{
	width: 100%;
	height: 180px;
	margin-top:10px;

	background: rgba(255, 255, 255, 40%);
	backdrop-filter: blur(8px);
}

.week-container-narrow .card {
	margin: 0 6px 0 6px;
	width: clamp(100px, 16%, 16%);
	height: clamp(300px, 50vh, 50vh); 

}

@media only screen and (min-device-width : 0px) and (max-device-width : 360px) {
	.week-container-narrow {
		height:clamp(310px, 50vh, 50vh);
		justify-content: left; /* needs work: too wide on desktop. if using center, then not all content appears on mobile*/
		overflow-x:scroll;
	}
}

@media only screen and (min-device-width : 360px) and (max-device-width : 480px) {
	.week-container-narrow {
		height:clamp(310px, 57vh, 57vh);
		justify-content: left; /* needs work: too wide on desktop. if using center, then not all content appears on mobile*/
		overflow-x:scroll;
	}
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#today-container .card {
		width: 80%;
		height: min(80%, 180px);
	
		background: rgba(255, 255, 255, 40%);
		backdrop-filter: blur(8px);
	}

	.week-container{
		width: 80%;
		display: flex;
	}
	.week-container-narrow {
		height:clamp(310px, 63vh, 63vh);
		justify-content: left; /* needs work: too wide on desktop. if using center, then not all content appears on mobile*/
		overflow-x:scroll;
	}
}

/*
#week-container .card-weather svg {
	width: 52px;
	height: 52px;
}

#week-container .card-schedule svg {
	width: 24px;
	height: 24px;
}
*/

#content-container {
	display:flex;
	flex-direction:column;
	align-items:center;
}


/* Content cards */

.card {
	border-radius: 10px;
	font-family: "Source Sans Pro";
	color: #fff;
	/* box-shadow: 1px 2px 4px rgba(0, 0, 0, 40%); */
}

.card h2:first-letter {
	text-transform: capitalize;
}

.card .smallIcon{
	width:clamp(20px, 1.3vw, 1.3vw);
	height:clamp(20px, 1.3vw, 1.3vw);
}

.card .largeIcon{
	width: clamp(50px,4vw, 4vw);
	height:clamp(50px,4vw, 4vw);
}


/* Content cards - Wide variant */

.card-wide h2 {
	margin: 0;
	padding: 20px 0 0 20px;

	font-weight: 300;
	font-size: 24px;
}

.card-wide .card-info {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 0px 20px 0px 20px;
	height: 80%;

	font-weight: 300;
	font-size: 48px;
	font-style: italic;
}

.card-wide .card-weather {
	flex-grow: 1;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.card-wide .card-schedule {
	flex-grow: 1;

	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;

	text-align: left;
	font-size: 24px;
}

.card-wide .card-schedule > div {
	padding-left: 5px;

	font-style: normal;
}

/* Content cards - Narrow variant */

.card-narrow {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight:300;
}

.card-narrow h2 {
	margin-top: 10px;
	padding: 10px 0 10px 0;

	font-weight: 300;
	font-size: 1.4em;
}

.card-narrow .card-info {
	flex: 1;

	display: flex;
	flex-direction: column;

	width: 100%;
}

.card-narrow .card-weather {
	flex-basis: 50%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-narrow .card-weather span {
	color: #fff;
	font-size: 1.4em;
}

.card-narrow .card-schedule {
	flex-grow: 1;

	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;

	margin-bottom: 8px;

	text-align: left;
	font-size: 18px;
}

.card-narrow .card-schedule > div {
	padding-left: 5px;

	font-style: normal;
}

.card-narrow .card-schedule svg {
	margin-top: 0px;
}


/* Main Tooltip */
.tooltip-spawner{
	display:inline-block;
}
.tooltip-spawner > button{
	fill:none;
	background: none;
	border:none;
	width:15px;
	height:15px;
	padding-left:0;
}

.buttonSVG{
	width:15px;
	height:15px;
}
