/* Background image */

#bg-wrapper {
	position: fixed;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	z-index: -1;
	overflow: hidden;
}

#bg-overlay {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 40%);
}

header{
	font-family: Source Sans Pro;
}


/* Body layout */

main {
	display: flex;
	flex-direction: column;
}

#today-container {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: clamp(400px, 40%, 300px);

	/* background: rgba(255, 0, 0, 0.15); */
}

#today-container .card {
	width: clamp(300px, 45%, 45%);
	height: min(80%, 180px);

	background: rgba(255, 255, 255, 40%);
	backdrop-filter: blur(8px);
}

#week-container {
	flex-grow: 1;
	display: flex;
}

#week-container .card {

}


/* Content cards */

.card {
	border-radius: 10px;
	font-family: Source Sans Pro;
	color: rgba(255,255,255,100%);
	/* box-shadow: 1px 2px 4px rgba(0, 0, 0, 40%); */
}



.card-wide h2 {
	margin: 0;
	padding: 20px 0 0 20px;


	font-weight: 300;
	font-size: 24px;
	
}


.card-wide .card-info {
	display: flex;
	flex-direction:row;
	align-items:center;
	padding: 0px 20px 0px 20px;
	height:80%;

	font-weight:300;
	font-size: 48px;
	font-style:italic;

	/* background: rgba(255, 0, 0, 0.15); */
}



.card-wide .card-weather {
	flex-grow:1;
	display:flex;
	flex-direction:row;
	align-items: center;
	/* background: rgba(255, 0, 0, 0.15); */
}



.card-wide .card-schedule {
	flex-grow:1;
	display:grid;
	text-align:left;
	font-size: 24px;
	grid-template-columns: auto auto;
	justify-content:center;
	
	/* background: rgba(0, 255, 0, 0.15); */
}

.card-wide .card-schedule > div{

	justify-content:center;
	padding-left:5px;
	font-style:normal;
	/* background: rgba(0, 255, 0, 0.15); */
}

/* Settings Element Styling*/
.RadioContainer {
	color:rgba(255, 255, 255, 100%);
	font-weight: 300;
	font-family: Source Sans Pro;
}

.RadioContainer > h3 {
	font-weight: 300;
}

.CheckBox {
	color:rgba(255, 255, 255, 100%);
	font-weight: 300;
	font-family: Source Sans Pro;
}

.ValueField {
	color:rgba(0,0,0, 100%);
	font-weight: 300;
	font-family: Source Sans Pro;
}

.Dropdown {
	color:rgba(0,0,0, 100%);
	font-weight: 300;
	font-family: Source Sans Pro;
}