#settings-container {
	padding: 0 20%;

	width: 60%;
	height: 100%;

	background: #eee;

	color: #111;
	font-family: "Source Sans Pro";
	font-weight: 300;
}

#settings-label{
	font-weight:300;
	font-size:1.5em;
	font-style:italic;
}

#settings-top {
	display: flex;
	flex-wrap: wrap;

	margin-top: 24px;
}

#settings-top > * {
	margin: 10px 24px;
}


#settings-mid {
	display: flex;
	flex-wrap: wrap;

	margin: 30px 0;
}

#settings-mid > * {
	margin: 10px 24px;
}


#settings-bottom > *:not(.ResetButton) {
	margin: 10px 24px;
}

#settings-bottom .ResetButton {
	margin:10px 24px;
	float: left;
}




/* Component styling */

value {
	font-weight:300;
}
.Settings {
	color: #111;
	font-family: "Source Sans Pro";
	font-weight: 300;
	box-shadow: none;
}



.RadioContainer > h3 {
	margin: 0;
	font-weight: 300;
}


.RadioElement input {
	float: left;
	margin: 3px 4px 0 6px;

	height: 16px;
}

.ValueField {
	color: #111;
	font-family: "Source Sans Pro";
	border-radius:5px;
}


.Dropdown {
	color: #111;
	font-family: "Source Sans Pro";
	border-radius: 5px;
}

.ResetButton > input{
	font-size: 0.75em;
	border-radius:5px;
	border-style: solid;
	border-color:#111;
	border-width: 1px;
	padding-left:10px;
	padding-right:10px;
}
