#main-settings {
	height: calc(100vh - 50px); /* the last dropdown overflows screen on mobile*/
}

@media only screen and (min-device-width : 350px) and (max-device-width : 812px) {
	#main-settings {
		height: auto; /* the last dropdown overflows screen on mobile*/
	}
}

#settings-container {
	padding: 0 20%;

	width: 60%;
	height: 100%;

	background: #eee;

	color: #111;
	font-family: "Source Sans Pro";
	font-weight: 300;
}

#settings-label {
	font-weight: 300;
	font-size: 1.5em;
	font-style: italic;
}

#settings-top {
	display: flex;
	flex-wrap: wrap;

	margin-top: 24px;
}

#settings-top > * {
	margin: 10px 24px;
}


#settings-mid {
	display: flex;
	flex-wrap: wrap;

	margin: 30px 0;
}

#settings-mid > * {
	margin: 10px 24px;
}


#settings-bottom > *:not(.ResetButton) {
	margin: 10px 24px;
}

#settings-bottom .ResetButton {
	margin:10px 24px;
	float: left;
}




/* Component styling */

input {
	font-weight:300;
	font-size:1em;
	font-family: "Source Sans Pro";
}

select{
	font-weight:300;
	font-family: "Source Sans Pro";
	font-size: 1em;
}
.Settings {
	color: #111;
	font-family: "Source Sans Pro";
	font-weight: 300;
	box-shadow: none;
}



.RadioContainer > h3 {
	margin: 0;
	font-weight: 300;
	display:inline-block;
}


.RadioElement input {
	float: left;
	margin: 3px 4px 0 6px;

	height: 16px;
}

.ValueField {
	color: #111;
	font-family: "Source Sans Pro";
	border-radius:5px;
	display:inline-block;
}


.Dropdown {
	color: #111;
	font-family: "Source Sans Pro";
	border-radius: 5px;
}

.ResetButton > label > input{
	font-size: 1em;
	border-radius:5px;
	border-style: solid;
	border-color:#111;
	border-width: 1px;
	padding-left:10px;
	padding-right:10px;
}

.tooltip-content{
	position:absolute;
	border-style:solid;
	border-width:1px;
	padding:10px;
	background:#eee;
	transition: opacity 1s; /* animation needs work*/
}

.tooltip-spawner{
	display:inline-block;
}
.tooltip-spawner > button{
	fill:none;
	border:none;
	width:15px;
	height:15px;
	padding-left:0;
}

.buttonSVG{
	width:15px;
	height:15px;
}
