/* Fonts */

@font-face {
	font-family: "Source Sans Pro";
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf');
}

/* General page setup */

body {
	margin: 0;
	padding: 0;

	width: 100vw;
	height: calc(100vh - 50px);
}


button:hover {
	cursor: pointer;
}


#icon-container {
	display: none;
}


/* Root container */

#root {
	margin: 50px 0 0 0;

	width: 100%;
	height: 100%;
}


/* Header / Nav bar */

header {
	position: fixed;
	top: 0;

	width: 100%;
	height: 50px;

	background: rgba(255, 255, 255, 80%);
	backdrop-filter: blur(5px);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 20%);

	z-index: 1;
}

header a {
	float: left;
	margin: 6px 0 0 12px;

	width: 48px;
	height: 38px;

	background: none;
	border: none;
	border-radius: 3px;
	outline: none;

	transition: background 120ms;
}

header h1 {
	display: inline-block;
	margin: 3px 0 0 12px;

	color: #222;
	font-family: "Source Sans Pro";
	font-weight: 300;
}

header a:last-child {
	margin-right: 8px;
}

header a:hover {
	background: rgba(0, 0, 0, 15%);
}

header a svg {
	margin: 6px 0 0 12px;

	width: 24px;
	height: 24px;

	fill: #333;
}


/* Page body / main content */

main {
	width: 100%;
	height: 100%;
}

